body{

    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {

    margin-top: 60px;
    margin-bottom: 60px;
}

.container {


    width: 100%;
    margin: 0 auto;
    
}



header {

    border-bottom: 1px solid black;
    background-color: #ffc017;
    position: sticky;
    top: 0;
    z-index: 100;

    transition: background-color 0.3s ease;
  
}



nav{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    width: 80%;
    margin: auto;
    
}

/* Stile per allineare il logo (primo <li>) a sinistra */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.logo {
    
        margin-right: auto; 
        
    
}

.menu li.logo + li {
    margin-left: 30%; 
}


.menu li:not(.logo) {
    margin-left: auto;
    font-size: 0.7em;
    margin-right: 5px;
}

/* Stili per i link nel menu */
.menu li a {
    text-decoration: none;
    color: #333; 
}

#started a{

    color: white;
    background-color: black;
    padding: 6px 12px;
    border-radius: 3em;

    transition: background-color 0.5s; /*  provo js */
}

#reading {

    text-decoration: none;
    color: white;
    background-color: black;
    padding: 6px 40px;
    border-radius: 3em;
    font-weight: 700;
}


section{
    background-color: #ffc017;
    width: 100%;
    border-bottom: 1px solid black;
}


#hidden {

    margin: auto;
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    


}

h1 {

    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h2 {

    font-size: 1.2em;
    margin-bottom: 40px;
}

/* POST STAY CURIOUS */
article {

    width: 80%;
    margin: auto;
    
    
}

article > div:first-child {

   margin-top: 30px;
   margin-bottom: 20px;
   
}


#trMedium{
    display: flex;
    align-items: center;


}

#trMediumT{

     width: 23px;
     

}

#trMedium span {

    font-size: 0.9em;
    margin-left: 10px;
}

#container2{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
    
}

.trendingArt{

    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    
}

.number {

    font-size: 1.5em;
    color: #333;
    opacity: 0.2;
    margin-right: 18px;
}

/* ALLINEO IMG CON AUTORE  */

.author {
    display: flex;
    flex-direction: column;
    

}

.nameAuthor {

    display: flex;
   
}

.svg {

    width: 18px;
    border-radius: 50%;
    margin-bottom: -5px;
}

.trendingArt .author .nameAuthor a {

   text-decoration: none;
}

.name2 {


    font-size: 0.8em;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 8px;
   

}

.titleArt {

    margin-bottom: 10px;
}

.titleArt a{

    text-decoration: none;
    font-weight: 700;

}

.minRead {


    font-size: 0.7em;
    opacity: 0.7;
}

/* ARTICOLI IN COLONNA  */


.artEImg {
    
    display: flex;
    flex-direction: row-reverse; 
    align-items: flex-start; 
    margin-left: -60px;
    margin-bottom: 30px;
}

.imgArt2 {
    order: -1; 
    margin-right: 0; 
}



.container3 {

   
    height: auto;
    width: 80%;
    margin: auto;
    display: flex;
    
}

.container4 {
    
    width: 60%;
    
    
    
}

.trendingArt2{

    display: flex;
    flex-wrap: wrap;
  
    
    width: 60%;
    
    
}


.author2 {
    display: flex;
    flex-direction: column;
    margin-left: 0;

}

.nameAuthor2 {

    display: flex;
   
}

.svg2 {

    width: 18px;
    border-radius: 50%;
    margin-bottom: -5px;
}

.trendingArt2 .author2 .nameAuthor2 a {

   text-decoration: none;
}

.name22 {


    font-size: 0.8em;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 8px;
   

}

.titleArt2 {

    margin-top: 5px;
    margin-bottom: 8px;
    
}

.titleArt2 a{

    text-decoration: none;
    font-weight: 800;
    color: black;

}

.minRead2 {

    display: flex;
    font-size: 0.7em;
    opacity: 0.7;
    align-items: center;
}

.minRead2 > div {

    margin-left: 10px;
}



.imgArt2 img{

    width: 150px;
    
}

.star2 {

    width: 1em;
}

.aging {

        
        background-color: rgba(113, 111, 111, 0.164);
        padding: 6px 12px;
        border-radius: 3em;
        opacity: 0.8;
    
}


.minRead2 .aging span {
    
    color: rgb(71, 68, 68);

}


.content2 {

    font-size: 0.6em;
    opacity: 0.6;
    margin-bottom: 10px;
}

/* 
ARGOMENTI CHE TI PIACCIONO STICKY */


.container5 {

    width: 40%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    position: sticky;
    top: 0;

    

    
    
}

#verde {

    font-size: 0.8em;
    margin-top: 20px;
}

#verde a{

    color: green;
    text-decoration: none;
    
    
}


.what {

    padding: 5px 10px ;
    font-size: 0.8em;
    background-color: rgba(113, 111, 111, 0.164);
    border-radius: 3em;
    opacity: 0.8;
    font-weight: lighter;
    margin-top: 10px;
    
    
}

#matters {

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    margin-top: 10px;
   
}

.what a{

    text-decoration: none;
    color: #333;
}

#matterYou {

    text-align: center;
    
}