.container {


    width: 100%;
    margin: 0 auto;
    
}

header {

    border-bottom: 1px solid black;
    background-color: yellow;
    position: sticky;
    top: 0;
    z-index: 100;
  
}

nav{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    width: 80%;
    margin: auto;
    
}

/* Stile per allineare il logo (primo <li>) a sinistra */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.logo {
    
        margin-right: auto; /* Muove il logo a sinistra */
        
    
}

.menu li.logo + li {
    margin-left: 30%; /* Modifica questa spaziatura secondo le tue esigenze */
}

/* Spostare gli elementi verso destra */
.menu li:not(.logo) {
    margin-left: auto;
    font-size: 0.7em;
    margin-right: 5px;
}

/* Stili per i link nel menu */
.menu li a {
    text-decoration: none;
    color: #333; /* Colore del testo per i link */
}

#started a{

    color: white;
    background-color: black;
    padding: 6px 12px;
    border-radius: 3em;
}

#reading {

    text-decoration: none;
    color: white;
    background-color: black;
    padding: 6px 40px;
    border-radius: 3em;
    font-weight: 700;
}


section{
    background-color: yellow;
    width: 100%;
    border-bottom: 1px solid black;
}


#hidden {

    margin: auto;
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    


}

h1 {

    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 5em;
}


h2 {

    font-size: 1.2em;
    margin-bottom: 40px;
}

/* POST STAY CURIOUS */
article {

    width: 80%;
    margin: auto;
    
    
}

article > div:first-child {

   margin-top: 30px;
   margin-bottom: 20px;
   
}


#trMedium{
    display: flex;
    align-items: center;


}

#trMediumT{

     width: 23px;
     

}

#trMedium span {

    font-size: 0.9em;
    margin-left: 10px;
}

#container2{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
    
}

.trendingArt{

    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    
}

.number {

    font-size: 1.5em;
    color: #333;
    opacity: 0.2;
    margin-right: 18px;
}

/* ALLINEO IMG CON AUTORE  */

.author {
    display: flex;
    flex-direction: column;
    

}

.nameAuthor {

    display: flex;
   
}

.svg {

    width: 18px;
    border-radius: 50%;
    margin-bottom: -5px;
}

.trendingArt .author .nameAuthor a {

   text-decoration: none;
}

.name2 {


    font-size: 0.8em;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 8px;
   

}

.titleArt {

    margin-bottom: 10px;
}

.titleArt a{

    text-decoration: none;
    font-weight: 700;

}

.minRead {


    font-size: 0.7em;
    opacity: 0.7;
}

/* ARTICOLI IN COLONNA  */


.container3 {

    background: aqua;
    height: 400px;
    width: 80%;
    margin: auto;
    display: flex;
    
}

.container4 {
    
    width: 60%;
    
}

/* 
ARGOMENTI CHE TI PIACCIONO STICKY */


.container5 {

    width: 40%;
    background: white;
    
    
}